@import url("/css/padrao.css");
@import url("/css/variaveis.css");
@import url("/css/header.css");
@import url("/css/main.css");
@import url("/css/cadastro_cardapio.css");
@import url("/css//lista_cardapio.css");
@import url("/css/footer.css");

/* Icones */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');