.container_login {
  height: 100vh !important;
  width: 100vw !important;
  background-color: var(--cor-background-primeiro);
  color: var(--cor-fonte-segundo);
  font-family: var(--fonte-texto);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.container_login h1 {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--fonte-titulo);
  font-size: 28px;
  font-weight: 900;
}

.form-login {
  background-color: var(--cor-background-segundo);
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;

  border: 1px solid var(--cor-hover-border-primeiro);
  border-radius: 10px;
  box-shadow: var(--cor-box-shadow);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-login label {
  font-family: var(--fonte-titulo);
  font-weight: 600;
}

.form-login input {
  box-shadow: var(--cor-box-shadow);
  border-radius: 10px;
  outline-color: var(--cor-hover-border-primeiro);
  border: none;
  font-size: 18px;
  padding: 8px;
}

.form-login .btn {
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: var(--cor-fonte-segundo);
  font-weight: 500;

  background-color: var(--cor-hover-border-primeiro);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--cor-box-shadow);
}

.form-login .btn:hover {
  font-weight: 600;
  background-color: var(--cor-hover-border-segundo);
}

#mensagem {
  color: var(--cor-vermelho);
}

.senha__input-icone {
  display: flex;
  position: relative;
}

.senha__input-icone input {
  width: 100%;
}

.senha__input-icone i {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}
