.cadastro_cardapio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cadastro_cardapio h1 {
  font-size: 24px;
}

.cadastro_cardapio-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-background-segundo);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--cor-box-shadow);
}

.cadastro_cardapio h2 {
  color: var(--cor-fonte-terceiro);
  white-space: nowrap;
}

.cadastro_cardapio .btn-cadastro {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: var(--cor-fonte-segundo);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  background-color: var(--cor-hover-border-primeiro);
}

.cadastro_cardapio .btn-cadastro:hover {
  background-color: var(--cor-hover-border-segundo);
  font-weight: 600;
}

/* Cadastro de itens */
.cadastro_cardapio-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-background-segundo);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--cor-box-shadow);
  margin-bottom: 2rem;
}

.itens {
  width: 50%;
}
