header {
  min-height: 10%;
  background: var(--cor-background-terceiro);
  box-shadow: 2px 3px 20px 1px rgb(37, 37, 37);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  max-width: 4%;
  min-width: 50px;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.logo img {
  width: 100%;
}

header i {
  font-size: 26px;
  color: var(--cor-fonte-primeiro);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

header i:hover {
  opacity: 1;
  transform: scale(1.2);
}

.site-sair {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-meuCardapio {
  text-decoration: none;
  border: 1px solid var(--cor-hover-border-segundo);
  color: var(--cor-hover-border-segundo);
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  min-width: 5rem;
  text-align: center;
}

.btn-meuCardapio:hover {
  background-color: var(--cor-hover-border-segundo);
  color: var(--cor-fonte-segundo);
}

@media screen and (max-width: 540px) {
  header {
    padding: 0.6rem 0.6rem;
  }
}
