* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-texto);
  font-size: clamp(1rem, 1vw, 4rem);
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

p,
a {
  font-size: 1rem;
}

.container_principal {
  height: 100%;
  width: 100%;
  background-color: var(--cor-background-primeiro);
  color: rgb(7, 7, 7);
}

.container_main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container_main h1 {
  white-space: nowrap;
  color: var(--cor-fonte-segundo);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.inputs {
  color: var(--cor-fonte-segundo);
  padding: 8px;
  border: none;
  border-radius: 10px;
  outline-color: var(--cor-hover-border-primeiro);
  width: 100%;
  box-shadow: var(--cor-box-shadow);
}

@media screen and (max-width: 700px) {
  .form {
    width: 100%;
  }
}
